<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid ">
    <%= image_tag asset_path('vidhub.png'), height: "70px" ,weight: "150px"%>
    <div class="col-md-6   ">
      <%= link_to 'vidHub', root_path,class: 'text-decoration-none fs-2 color  ' %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-5">
            <%= link_to 'MyAlbums', video_albums_path,class: 'text-decoration-none fs-2 color' %>
          </li>
          <li class="nav-item mx-5">
            <%= link_to 'NewAlbum', new_video_album_path,class: 'text-decoration-none fs-2 color' %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <% if user_signed_in? %>
          <%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-secondary text-decoration-none fs-4', data: {turbo_method: :delete} %>
          <%= link_to 'Edit profile',edit_user_registration_path, class: 'btn btn-secondary text-decoration-none fs-4 mx-3' %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary text-decoration-none mx-3 fs-4' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-danger text-decoration-none fs-4' %>
        <% end %>
      </form>
    </div>
  </div>
</nav>
